* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tv-img {
    background-image: url(../images/tv.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 420px;
    width: 720px;
    margin-right: 42px;
}

.mainstream {
    background-image: url(../images/mainstream.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 501px;
    width: 387px;
    padding: 12px;
}