* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

.coming-soon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 100%;
    background-color: white;
    font-weight: 700;
}

hr {
    color: #F7F7F3;
}


.nav-logo {
    height: 70px;
    width: auto;
    padding-top: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
}

.nav-content {
    height: 60px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
}

.logo {
    background-image: url(../images/logo.avif);
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 1.35rem;
    height: 50px;
    width: 100px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 30;
}

.tv-img {
    background-image: url(../images/tv.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 314px;
    width: 550px;
    padding: 12px;

}

.mainstream {
    background-image: url(../images/mainstream.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 346px;
    width: 250px;
    padding: 12px;
}

.images {
    display: flex;
    align-self: center;
    justify-content: center;
}

h3 {
    margin: 24px 0px 8px;
    font-size: 2rem;
}

section {
    padding: 20px 12px 0px, 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 76px 0px 76px 0px;
}

.type-text {
    height: 50px;
    width: auto;
    display: flex;
    align-items: center;
    gap: 20px;
}

input[type="text"] {
    height: 50px;
    width: 280px;
    padding: 0 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

button {
    color: white;
    background-color: #303b43;
    border-radius: 4px;
    height: 50px;
    width: 98px;
}

.icons {
    display: flex;
   
    align-items: center;
    gap: 20px;
    font-size: 1.4rem;
}

footer {
    padding: 40px 0px 0px;
    font-size: 0.65rem;
    display: flex;
    margin: 0px 76px 0px 76px;
    color: #8D8686;
    gap: 15px;
}

.footer{ 
    text-decoration: underline;
    color: blue;
}
